LINE_CHANNEL_ACCESS_TOKEN=自己的LINE_CHANNEL_ACCESS_TOKEN
LINE_CHANNEL_SECRET=自己的LINE_CHANNEL_SECRET
GEMINI_API_KEY=自己的GEMINI KEY（菜單圖片辨識用）
GEMINI_VOICE_API_KEY=自己的第二組GEMINI KEY（語音點餐解析用）
LIFF_ID=自己的LIFFID

